flows.json
[{"id":"b7bc12ba.3424b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e484693.b3018","type":"http in","z":"b7bc12ba.3424b8","name":"Data","url":"/sigfox","method":"get","upload":false,"swaggerDoc":"","x":390,"y":140,"wires":[["11afb2a8.792245","60df0137.db80d8"]],"info":"Recibe la data del backend de sigfox."},{"id":"11afb2a8.792245","type":"http response","z":"b7bc12ba.3424b8","name":"Respuesta","statusCode":"200","headers":{},"x":670,"y":140,"wires":[],"info":"Da una respuesta al backend de sigfox si la operación se realizó correctamente."},{"id":"dadf8b1.e9ba9f8","type":"debug","z":"b7bc12ba.3424b8","name":"verify_output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"60df0137.db80d8","type":"function","z":"b7bc12ba.3424b8","name":"convert_to_%","func":"msg.payload.data = (-0.133333*msg.payload.data + 180).toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["ba1da7cd.dd2ac","9b8eb402.e73a8","dadf8b1.e9ba9f8"]],"info":"\n\nConvierte el valor enviado (int16) en porcentaje de acuerdo a características del sensor."},{"id":"ba1da7cd.dd2ac","type":"mongodb out","z":"b7bc12ba.3424b8","mongodb":"ab73abc2.16e748","name":"","collection":"sigfox","payonly":true,"upsert":false,"multi":false,"operation":"store","x":790,"y":180,"wires":[],"info":"Base de datos NoSQL donde se almacenará la data."},{"id":"9b8eb402.e73a8","type":"switch","z":"b7bc12ba.3424b8","name":"Threshold","property":"payload.data","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":260,"wires":[["7cab788d.5f7e78"]],"info":"Si el valor de humedad es menor que este límite, se activa la alerta."},{"id":"7cab788d.5f7e78","type":"function","z":"b7bc12ba.3424b8","name":"cuerpo_mensaje","func":"msg = {\n    payload: \"Planta deshidratada con \" + msg.payload.data + \n    \" % de humedad relativa. \" + Date().toString(),\n    topic: \"Riégame!\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":260,"wires":[["c417958a.ada7c8"]],"info":"Mensaje a enviar, con asunto y cuerpo."},{"id":"c417958a.ada7c8","type":"e-mail","z":"b7bc12ba.3424b8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"sadelcarpioa@gmail.com","dname":"","x":1050,"y":260,"wires":[]},{"id":"ab73abc2.16e748","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"registro_higrometro","name":""}]